body {
  background-color: #0a0f1d;
  color: #00ff00;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  text-align: center;
  max-width: 800px;
  width: 100%;
}

.title {
  font-size: 2rem;
  color: cyan;
  text-shadow: 0px 0px 5px lime;
  margin-bottom: 20px;
}

.terminal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.terminal-container {
  border: 2px solid lime;
  padding: 10px;
  background-color: black;
  box-shadow: 0 0 15px lime;
  width: 100%;
  max-width: 800px;
  height: 300px;
  overflow: hidden;
  /* Ensures no extra scrolling */
  border-radius: 10px;
  text-align: left;
}

.back-button {
  background: black;
  border: 2px solid lime;
  padding: 10px;
  margin-top: 20px;
  color: lime;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

.back-button:hover {
  background: lime;
  color: black;
}
